.container-wrapper-annual {
    #table-property{
        td{
            padding: 40px 15px 30px;
            vertical-align: middle;
            &:first-of-type{
                padding-left: 30px;
            }

            .form-control{
                &.disable-field{
                    border: none;
                    border-radius: 0;
                }
            }

            .number-li{
                margin: 0;
                height: auto;
                &+.col-12{
                    input{
                        width: 300px;
                    }
                }
            }

            .fa-question-circle{
                color: #6e7a94;
            }
        }
    }

    .w-35{
        .diagram-analysis{
            .diagram-block{
                .w-auto{
                    display: inline-block !important;
                }
            }
        }
    }


    @media (max-width: 1410px){
        .group-status-top{
            width: 100% !important;
        }
        .group-button-top{
            margin-top: 30px !important;
        }
    }

    @media (max-width: 1024px){
        .group-status-top{
            #block-status{
                margin-top: 10px !important;
                &:first-of-type{
                    margin-top: 0 !important;
                }
            }
        }

        #form-condition-1{
            &+.row{
                display: block !important;
                .w-65,.w-35{
                    width: 100% !important;
                }
                .w-35{
                    .m30l{
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    @media (max-width: 420px){
        .row{
            display: block;
        }

        .col-12-sp{
            padding: 0 !important;
            max-width: 100% !important;
        }

        #form-condition-1{
            .centered,.centered-vertical{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                width: 100% !important;
                text-align: center !important;
            }
            .centered-vertical{
                display: block !important;
            }
        }

        .w400{
            width: 320px !important;
        }

        button{
            &.m20l{
                margin-left: 0 !important;
            }
        }
    }

}

.media-1023-m30t {
    margin-left: 30px !important;
    margin-top: 30px !important;
}

@media (max-width: 767px) {
    .container-wrapper-annual {
        padding: 45px 20px 60px 20px !important;
    }
}

@media (max-width: 1023px) {
    .media-1023-m30t {
        margin: 30px 0 0 0 !important;
    }
}
