#wrapper-master .content-wrapper .container-wrapper-bank {
    .w110 {
        width: 110px !important;
    }
    .compete-chart .diagram-block {
        min-height: 365px;
        padding: 25px 5px 25px 5px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    }

    .diagram-block {
        min-height: auto;
        input[type=checkbox] {
            &+label {
                width: 260px;
            }
        }


        .border-top {
            display: none;
        }

        .office, .housing, .shop, .logiIndustry, .hotel {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    #table-property {
        tbody {
            tr {
                td {
                    vertical-align: middle;
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .col-8 {
            max-width: 100% !important;
        }
    }

    &.wrapper-bank-list {
        #form-condition-1 {
            .group-button-top {
                .btn {
                    position: relative;
                }
                .check-shadow-box {
                    position: absolute;
                    top: 58px;
                    right: 0;

                    .diagram-block {
                        padding: 25px 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        input[type=checkbox] {
                            +label {
                                margin-top: 10px;
                                width: 100%;
                                text-align: left;
                                &:first-of-type {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            a.color-title-chart.parent-checkbox {
                color: #007bff;
            }
        }

        .btn-group {
            width: 177px;
            height: 40px;
        }

        .sort-property {
            height: 38px;
        }

        #table-property {
            td {
                box-sizing: border-box;
                padding: 10px 15px !important;
                word-break: keep-all;
                p {
                    word-break: break-all;
                }
            }
        }

        @media (max-width: 575px) {
            #pre-print, .cus-paginate {
                margin-top: 15px;
            }
        }
    }

    &.container-manager-user {
        .block-support-user {
            overflow-x: auto !important;
        }

        .table-support-user {
            min-width: 1100px !important;
        }

        .table-support-user select,
        .table-support-user input {
            border: 1px solid #ced4da !important;
            height: 32px;
        }
    }
}

.search-conditions{
	.fw-normal{
		div{
			& + div{
				margin-top : 10px;
			}
		}
	}
}

.myModal{
	.border-top {
	    display: none;
	}
	.office, .housing, .shop, .logiIndustry, .hotel {
	    display: none;

	    &.active {
	        display: block;
	    }
	}
}
.container-sub-user #table-property td {
    padding: 1rem;
}

.container-sub-user input[type=checkbox],
.container-power-property input[type=checkbox] {
    display: block;
}

@media (max-width: 767px) {

    #wrapper-master .content-wrapper .container-wrapper-bank {
        padding-right: 0px;
        padding-left: 0px;

        .diagram-block {
            border-radius: 10px !important;
        }
    }

    #wrapper-master .content-wrapper .container-wrapper-bank.invite-user,
    #wrapper-master .content-wrapper .container-wrapper-bank.container-user-detail{
        padding-right: 20px;
        padding-left: 20px;
    }

    .form-search-bank {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .paginate-search {
        display:flex!important;
        align-items:center!important;
        justify-content:center!important;
        display:-ms-flexbox!important;
        -ms-flex-pack:center!important;
        -ms-flex-align:center!important;
        margin-left: 0 !important;
    }

    .container-manager-user,
    .container-sub-user,
    .container-power-property {
        padding: 45px 20px 60px 20px !important;
    }

    .container-list-topic {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
