.borrowing-diagram-block {
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.borrowing-h559 {
    min-height: 559px;
}

.borrowing-h272 {
    min-height: 272px;
}

.style-select-option {
    display: contents;
}

.style-select-option select {
    height: 100%;
    width: 100%;
    border: 0px !important;
}

.table-preview tr td {
    border: 1px solid black;
}

.table-preview thead tr td {
    vertical-align: middle !important;
}

.borrowing-text-inline {
    white-space: nowrap !important;
}

.no-background-color {
    background-color: transparent !important;
}
@media (max-width: 1199px) {
    .borrowing-m20t {
        margin-top: 20px !important;
    }
}

.table-borrowing tbody td, .table-borrowing tfoot td {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-borrowing-sort tbody td, .table-borrowing-sort tfoot td {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.borrowing-left {
    float: left;
    margin-left: 5px;
}

#borrowing-block-status {
    width: 480px;
    min-height: 40px;
    background-color: white;
    font-size: 14px;
    border: 1px solid #bcc0c9;
}

#borrowing-block-status .first-block {
    color: white;
    background-color: #6E7A94;
}

.table-borrowing-sort td {
    padding: 0.85rem;
}

.table-borrowing-sort .table-foot td{
    text-align: right;
}

.table-borrowing-sort .table-head {
    word-break: keep-all;
    font-weight: bold;
    background-color: white !important;
}

.table-borrowing-sort .table-foot td {
    color: white !important;;
    background-color: #5C7D9A !important;
}

@media (max-width: 992px) {
    #borrowing-block-status {
        width: 100%;
    }

    .borrowing-p10 {
        padding: 10px !important;
    }
}

@media (max-width: 575px) {
    .borrowing-float-left {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .borrowing-float-right {
        float: right;
        margin-right: 10px;
    }

    .borrowing-w-50 {
        width: 50% !important;
    }

    .borrowing-p10l {
        margin-left: 10px;
    }

    .borrowing-diagram-block {
        border-radius: 0 !important;
    }

    .p7t-sp {
        padding-top: 7px !important;
    }
}

@media (max-width: 767px) {
    .media-767-m7l {
        margin-left: 7px;
    }
}
