.container-wrapper-plan {
    padding: 45px 60px 60px 60px;
}

.container-wrapper-plan {
    .form-control {
        &.disable-field{
            border: none;
            border-radius: 0;
        }
    }

    .diagram-block{
        min-height: auto;
    }

    .row{
        .number-li{
            margin: 0;
            height: auto;
            &+.col-12{
                input{
                    width: 300px;
                }
            }
        }
    }

    @media (max-width: 1410px) {
        #form-condition-1 {
            .col-cxl-6 {
                max-width: 100% !important;
            }
        }

    }

    @media (max-width: 1024px) {
        #form-condition-1 {

        }

        .row {
            &>.col-lg-6{
                flex: 0 0 100% !important;
                margin-bottom: 30px !important;
                max-width: 100% !important;

                .item-block-property{
                    &.m15r {
                        margin: 0 !important;
                    }
                    &.m15l {
                        margin: 0 !important;
                    }
                }
            }
        }

    }

    @media (max-width: 420px) {
        #form-condition-1{
            .col-12{
                margin-top: 30px !important;
                #block-status{
                    margin-top: 10px !important;
                    &:first-of-type{
                        margin: 0 !important;
                    }
                    .centered{
                        padding-top: 10px !important;
                        padding-bottom: 10px !important;
                    }
                }
            }
        }

        .diagram-analysis {
            .diagram-block {
                &.p30{
                    padding: 20px !important;
                }
                .row {
                    &.m10b {
                        margin-bottom: 20px !important;
                    }
                    .col-6 {
                        flex: 0 0 100% !important;
                        margin-top: 10px !important;
                        max-width: 100% !important;
                        &:first-of-type{
                            margin: 0 !important;
                        }
                        &.p20r{
                            padding: 0 !important;
                        }
                        &.p20l {
                            padding: 0 !important;
                        }
                        &.spH {
                            display: none !important;
                        }
                        .col-3,.col-9 {
                            flex: 0 0 100% !important;
                            max-width: 100% !important;
                        }
                    }
                }
            }
        }

        .col-12-sp{
            padding: 0 !important;
            max-width: 100% !important;
        }
    }
}
