/*====Begin define css=====*/
.bd-black {
    border: 1px solid black;
}

.pcH {
    display: none;
}

.display-flex {
    display: flex;
}

.spH {
    display: block;
}

.m0 {
    margin: 0 !important; }

.m10 {
    margin: 10px !important; }

.m20 {
    margin: 20px !important; }

.m30 {
    margin: 30px !important; }

.m40 {
    margin: 40px !important; }

.m50 {
    margin: 50px !important; }

.m60 {
    margin: 60px !important; }

.m70 {
    margin: 70px !important; }

.m80 {
    margin: 80px !important; }

.m90 {
    margin: 90px !important; }

.m100 {
    margin: 100px !important; }

.m0l {
    margin-left: 0 !important; }

.m3l {
    margin-left: 3px !important; }

.m4l {
    margin-left: 4px !important; }

.m5l {
    margin-left: 5px !important; }

.m7l {
    margin-left: 7px !important; }

.m8l {
    margin-left: 8px !important; }

.m10l {
    margin-left: 10px !important; }

.m15l {
    margin-left: 15px !important; }

.m16l {
    margin-left: 16px !important; }

.m20l {
    margin-left: 20px !important; }

.m25l {
    margin-left: 25px !important; }

.m30l {
    margin-left: 30px !important; }

.m38l {
    margin-left: 38px !important; }

.m40l {
    margin-left: 40px !important; }

.m50l {
    margin-left: 50px !important; }

.m60l {
    margin-left: 60px !important; }

.m70l {
    margin-left: 70px !important; }

.m80l {
    margin-left: 80px !important; }

.m90l {
    margin-left: 90px !important; }

.m100l {
    margin-left: 100px !important; }

.m17l-per {
    margin-left: 17% !important; }

.m0t {
    margin-top: 0 !important;}

.m2t {
    margin-top: 2px !important;}

.m3t {
    margin-top: 3px !important;}

.m4t {
    margin-top: 4px !important; }

.m5t {
    margin-top: 5px !important; }

.m6t {
    margin-top: 6px !important; }

.m7t {
    margin-top: 7px !important; }

.m8t {
    margin-top: 8px !important; }

.m10t {
    margin-top: 10px !important; }

.m13t {
    margin-top: 13px !important; }

.m14t {
    margin-top: 14px !important; }

.m15t {
    margin-top: 15px !important; }

.m20t {
    margin-top: 20px !important; }

.m23t {
    margin-top: 23px !important; }

.m25t {
    margin-top: 25px !important; }

.m30t {
    margin-top: 30px !important; }

.m33t {
    margin-top: 33px !important; }

.m35t {
    margin-top: 35px !important; }

.m40t {
    margin-top: 40px !important; }

.m50t {
    margin-top: 50px !important; }

.m60t {
    margin-top: 60px !important; }

.m65t {
    margin-top: 65px !important; }

.m70t {
    margin-top: 70px !important; }

.m80t {
    margin-top: 80px !important; }

.m90t {
    margin-top: 90px !important; }

.m100t {
    margin-top: 100px !important; }

.m0r {
    margin-right: 0 !important; }

.m3r {
    margin-right: 3px !important; }

.m3l {
    margin-left: 3px !important; }

.m5r {
    margin-right: 5px !important; }

.m7r {
    margin-right: 7px !important; }

.m8r {
    margin-right: 8px !important; }

.m10r {
    margin-right: 10px !important; }

.m15r{
    margin-right: 15px !important; }

.m16r{
    margin-right: 16px !important; }

.m20r {
    margin-right: 20px !important; }

.m25r {
    margin-right: 25px !important; }

.m30r {
    margin-right: 30px !important; }

.m35r {
    margin-right: 35px !important; }

.m40r {
    margin-right: 40px !important; }

.m45r {
    margin-right: 45px !important; }

.m48r {
    margin-right: 48px !important; }

.m50r {
    margin-right: 50px !important; }

.m55r {
    margin-right: 55px !important; }

.m60r {
    margin-right: 60px !important; }

.m70r {
    margin-right: 70px !important; }

.m80r {
    margin-right: 80px !important; }

.m90r {
    margin-right: 90px !important; }

.m100r {
    margin-right: 100px !important; }

.m9r-pr {
    margin-right: 9% !important; }

.m0b {
    margin-bottom: 0px !important; }

.m2b {
    margin-bottom: 2px !important; }

.m5b {
    margin-bottom: 5px !important; }

.m10b {
    margin-bottom: 10px !important; }

.m13b {
    margin-bottom: 13px !important; }

.m15b {
    margin-bottom: 15px !important; }

.m17b {
    margin-bottom: 17px !important; }

.m20b {
    margin-bottom: 20px !important; }

.m25b {
    margin-bottom: 25px !important; }

.m26b {
    margin-bottom: 26px !important; }

.m27b {
    margin-bottom: 27px !important; }

.m30b {
    margin-bottom: 30px !important; }

.m35b {
    margin-bottom: 35px !important; }

.m40b {
    margin-bottom: 40px !important; }

.m50b {
    margin-bottom: 50px !important; }

.m60b {
    margin-bottom: 60px !important; }

.m70b {
    margin-bottom: 70px !important; }

.m80b {
    margin-bottom: 80px !important; }

.m90b {
    margin-bottom: 90px !important; }

.m100b {
    margin-bottom: 100px !important; }

.m120b {
    margin-bottom: 120px !important; }

.m10b-per {
    margin-bottom: 10% !important; }

.m15lr {
    margin-left: 15px !important;
    margin-right: 15px !important; }

.p0 {
    padding: 0 !important; }

.p2 {
    padding: 2px !important; }

.p3 {
    padding: 3px !important; }

.p5 {
    padding: 5px !important; }

.p6 {
    padding: 6px !important; }

.p8 {
    padding: 8px !important; }

.p10 {
    padding: 10px !important; }

.p15 {
    padding: 15px !important; }

.p20 {
    padding: 20px !important; }

.p25 {
    padding: 25px !important; }

.p30 {
    padding: 30px !important; }

.p40 {
    padding: 40px !important; }

.p50 {
    padding: 50px !important; }

.p60 {
    padding: 60px !important; }

.p70 {
    padding: 70px !important; }

.p80 {
    padding: 80px !important; }

.p90 {
    padding: 90px !important; }

.p100 {
    padding: 100px !important; }

.p0l {
    padding-left: 0 !important; }

.p2l {
    padding-left: 2px !important; }

.p3l {
    padding-left: 3px !important; }

.p5l {
    padding-left: 5px !important; }

.p8l {
    padding-left: 8px !important; }

.p10l {
    padding-left: 10px !important; }

.p15l {
    padding-left: 15px !important; }

.p18l {
    padding-left: 18px !important; }

.p20l {
    padding-left: 20px !important; }

.p25l {
    padding-left: 25px !important;}

.p30l {
    padding-left: 30px !important; }

.p40l {
    padding-left: 40px !important; }

.p50l {
    padding-left: 50px !important; }

.p60l {
    padding-left: 60px !important; }

.p70l {
    padding-left: 70px !important; }

.p80l {
    padding-left: 80px !important; }

.p90l {
    padding-left: 90px !important; }

.p100l {
    padding-left: 100px !important; }

.p110l {
    padding-left: 110px !important; }

.p150l {
    padding-left: 150px !important; }

.p200l {
    padding-left: 200px !important; }

.p0t {
    padding-top: 0!important;}

.p2t {
    padding-top: 2px!important;}

.p3t {
    padding-top: 3px!important;}

.p5t {
    padding-top: 5px!important;}

.p7t {
    padding-top: 7px!important;}

.p8t {
    padding-top: 8px!important;}

.p10t {
    padding-top: 10px !important; }

.p13t {
    padding-top: 13px !important; }

.p15t {
    padding-top: 15px !important; }

.p18t {
    padding-top: 18px !important; }

.p20t {
    padding-top: 20px !important; }

.p25t {
    padding-top: 25px !important; }

.p30t {
    padding-top: 30px !important; }

.p33t {
    padding-top: 33px !important; }

.p40t {
    padding-top: 40px !important; }

.p50t {
    padding-top: 50px !important; }

.p58t {
    padding-top: 58px !important; }

.p60t {
    padding-top: 60px !important; }

.p65t {
    padding-top: 65px !important; }

.p70t {
    padding-top: 70px !important; }

.p80t {
    padding-top: 80px !important; }

.p90t {
    padding-top: 90px !important; }

.p100t {
    padding-top: 100px !important; }

.p05-rem-top {
    padding-top: .5rem !important; }

.p0r {
    padding-right: 0 !important; }

.p2r {
    padding-right: 2px !important; }

.p5r {
    padding-right: 5px !important; }

.p8r {
    padding-right: 8px !important; }

.p10r {
    padding-right: 10px !important; }

.p10lr {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.p15r {
    padding-right: 15px !important; }

.p18r {
    padding-right: 18px !important; }

.p20r {
    padding-right: 20px !important; }

.p25r {
    padding-right: 25px !important; }

.p30r {
    padding-right: 30px !important; }

.p35r {
    padding-right: 35px !important; }

.p38r {
    padding-right: 38px !important; }

.p40r {
    padding-right: 40px !important; }

.p50r {
    padding-right: 50px !important; }

.p52r {
    padding-right: 52px !important; }

.p54r {
    padding-right: 54px !important; }

.p60r {
    padding-right: 60px !important; }

.p66r {
    padding-right: 66px !important; }

.p70r {
    padding-right: 70px !important; }

.p79r {
    padding-right: 79px !important; }

.p80r {
    padding-right: 80px !important; }

.p90r {
    padding-right: 90px !important; }

.p100r {
    padding-right: 100px !important; }

.p120r {
    padding-right: 120px !important;
}

.p1b {
    padding-bottom: 1px !important; }

.p2b {
    padding-bottom: 2px !important; }

.p3b {
    padding-bottom: 3px !important; }

.p5b {
    padding-bottom: 5px !important; }

.p7b {
    padding-bottom: 7px !important; }

.p10b {
    padding-bottom: 10px !important; }

.p12b {
    padding-bottom: 12px !important; }

.p15b {
    padding-bottom: 15px !important; }

.p20b {
    padding-bottom: 20px !important; }

.p25b {
    padding-bottom: 25px !important; }

.p30b {
    padding-bottom: 30px !important; }

.p35b {
    padding-bottom: 35px !important; }

.p40b {
    padding-bottom: 40px !important; }

.p50b {
    padding-bottom: 50px !important; }

.p60b {
    padding-bottom: 60px !important; }

.p70b {
    padding-bottom: 70px !important; }

.p80b {
    padding-bottom: 80px !important; }

.p90b {
    padding-bottom: 90px !important; }

.p100b {
    padding-bottom: 100px !important; }

.p0dot7rem {
    padding: 0.7rem !important;
}
.p15lr {
    padding-left: 15px !important;
    padding-right: 15px !important; }

.p30lr {
    padding-left: 30px;
    padding-right: 30px; }

.w10 {
    width: 10px !important; }

.w20 {
    width: 20px !important; }

.w25 {
    width: 25px !important; }

.w30 {
    width: 30px !important; }

.w33 {
    width: 33px !important; }

.w35 {
    width: 35px !important; }

.w40 {
    width: 40px !important; }

.w45 {
    width: 45px !important; }

.w44 {
    width: 44px !important; }

.w50 {
    width: 50px !important; }

.w53 {
    width: 53px !important; }

.w60 {
    width: 60px !important; }

.w61 {
    width: 61px !important; }

.w64 {
    width: 64px !important; }

.w65 {
    width: 65px !important; }

.w68 {
    width: 68px !important; }

.w70 {
    width: 70px !important; }

.w75 {
    width: 75px !important; }

.w80 {
    width: 80px !important; }

.w90 {
    width: 90px !important; }

.w100 {
    width: 100px !important; }

.w105 {
    width: 105px !important; }

.w115 {
    width: 115px !important; }

.w120 {
    width: 120px !important; }

.w122 {
    width: 122px !important; }

.w130 {
    width: 130px !important; }

.w135 {
    width: 135px !important; }

.w140 {
    width: 140px !important; }

.w150 {
    width: 150px !important; }

.w155 {
    width: 155px !important; }

.w158 {
    width: 158px !important; }

.w190 {
    width: 190px !important; }

.w200 {
    width: 200px !important; }

.w230 {
    width: 230px !important; }

.w250 {
    width: 250px !important; }

.w300 {
    width: 300px !important; }

.w400 {
    width: 400px !important; }

.w500 {
    width: 500px !important; }

.w700 {
    width: 700px !important; }

.wp4 {
    width: 4% !important; }

.wp6 {
    width: 6% !important; }

.wp10 {
    width: 10% !important; }

.wp25 {
    width: 25% !important; }

.wp50 {
    width: 50% !important; }

.wp60 {
    width: 60% !important; }

.wp99 {
    width: 99% !important; }

.wp100 {
    width: 100% !important; }

.w-auto {
    width: auto !important; }

.m10-auto {
    margin: 10px auto;
}
.mw230 {
    max-width: 230px!important; }

.min-w115 {
    min-width: 115px !important; }

.h10 {
    height: 10px !important; }

.h20 {
    height: 20px !important; }

.h30 {
    height: 30px !important; }

.h35 {
    height: 35px !important; }

.h36 {
    height: 36px !important; }

.h37 {
    height: 37px !important; }

.h38 {
    height: 38px !important; }

.h40 {
    height: 40px !important; }

.h41 {
    height: 41px !important; }

.h46 {
    height: 46px !important; }

.h45 {
    height: 45px !important; }

.h49 {
    height: 49px !important; }

.h50 {
    height: 50px !important; }

.h54 {
    height: 54px !important; }

.h55 {
    height: 55px !important; }

.h56 {
    height: 56px !important; }

.h60 {
    height: 60px !important; }

.h65 {
    height: 65px !important; }

.h70 {
    height: 70px !important; }

.h80 {
    height: 80px !important; }

.h90 {
    height: 90px !important; }

.h100 {
    height: 100px !important; }

.h292 {
    height: 292px !important; }

.h295 {
    height: 295px !important; }

.h430 {
    height: 430px !important; }

.h840 {
    height: 840px !important;}

.h950 {
    height: 950px !important;}

.hp80 {
    height: 80% !important; }

.hp100 {
    height: 100% !important; }

.h-auto{
    height: auto !important; }

.min-h38 {
    min-height: 38px !important; }

.min-h40 {
    min-height: 40px !important; }

.min-h50 {
    min-height: 50px !important; }

.min-h60 {
    min-height: 60px !important; }

.min-h545 {
    min-height: 545px !important; }

.min-h-100 {
    min-height: 100%; }

.h-100 {
    height: 100% !important; }

.fl {
    float: left !important; }

.fn {
    float: none !important; }

.fr {
    float: right !important; }

.cb {
    clear: both !important; }

.fs7 {
    font-size: 7px !important; }

.fs8 {
    font-size: 8px !important; }

.fs10 {
    font-size: 10px !important; }

.fs11 {
    font-size: 11px !important; }

.fs12 {
    font-size: 12px !important; }

.fs13 {
    font-size: 13px !important; }

.fs14 {
    font-size: 14px !important; }

.fs15 {
    font-size: 15px !important; }

.fs16 {
    font-size: 16px !important; }

.fs17 {
    font-size: 17px !important; }

.fs18 {
    font-size: 18px !important; }

.fs20 {
    font-size: 20px !important; }

.fs25 {
    font-size: 25px !important; }

.fs24 {
    font-size: 24px !important; }

.fs28 {
    font-size: 28px !important; }

.fs32 {
    font-size: 32px !important; }

.fs36 {
    font-size: 36px;
}

.fs40 {
    font-size: 40px !important; }

.fs50 {
    font-size: 50px !important; }

.fs56 {
    font-size: 56px !important; }

.lh1 {
    line-height: 1 !important;
}

.lh1-3 {
    line-height: 1.3 !important;
}

.lh1-5 {
    line-height: 1.5 !important;
}

.lh2 {
    line-height: 2 !important;
}

.lh3 {
    line-height: 3 !important;
}

.l32h {
    line-height: 32px !important;
}

.l56h {
    line-height: 56px !important;
}

.br0 {
    border-radius: 0 !important;
}

.br1 {
    border-radius: 1px !important;
}

.br2 {
    border-radius: 2px !important;
}

.br3 {
    border-radius: 3px !important;
}

.br4 {
    border-radius: 4px !important;
}

.br5 {
    border-radius: 5px !important;
}

.br6 {
    border-radius: 6px !important;
}

.br7 {
    border-radius: 7px !important;
}

.br8 {
    border-radius: 8px !important;
}

.br9 {
    border-radius: 9px !important;
}

.br10 {
    border-radius: 10px !important;
}

.br15l {
    border-radius: 0 0 0 15px;
}

.w30-percent {
    width: 30% !important;
}

.w70-percent {
    width: 70% !important;
}

.right-0 {
    right: 0;
}

/*====End define css=====*/

#wrapper {
    min-height: 83vh;
}

body {
    background-color: #ffffff;
    position: relative;
    font-size: 13px;
    font-family: "Times New Roman", "Times New Roman", sans-serif;
}

.centered {
    display:flex!important;
    align-items:center!important;
    justify-content:center!important;
    display:-ms-flexbox!important;
    -ms-flex-pack:center!important;
    -ms-flex-align:center!important;
}

.centered-vertical {
    display:flex!important;
    align-items:center!important;
    display:-ms-flexbox!important;
    -ms-flex-align:center!important;
}

.flex-end-vertical {
    display: flex!important;
    align-items: flex-end!important;
}

.vertical {
    writing-mode: vertical-rl !important;
    text-orientation: upright;
    letter-spacing: 5px;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-neg-5 {
    margin-left: -5px !important;
}

.font-roboto {
    font-family: Roboto;
}

.font-Alternate {
    font-family: DIN Alternate;
}

.break-all {
    word-break: break-all;
}

#wrapper-master {
    background-color: #F0F1F2 !important;
    padding-left: 270px;
    position: relative;
}

#wrapper-master .content-wrapper {
    background-color: #F0F1F2 !important;
    margin-left: 0 !important;
}

#wrapper-master .content-wrapper .container-wrapper {
    padding: 45px 60px 60px 60px;
}

#wrapper-master.wrapper-master-profile {
    background-color: white !important;
    .content-wrapper {
        background-color: white !important;
    }
}

.container-info {
    max-width: 900px;
    padding: 0 15px 8% 15px;
}

.highcharts-description {
    margin: 0;
    color: #008000;
}

.container-padding {
    padding: 45px 60px 60px 60px !important;
}

.highcharts-des {
    margin: 0;
    color: #008000;
}

.z-index-100 {
    z-index: 100;
}

.fw-bold {
    font-weight: bold !important;
}

.fw-normal {
    font-weight: normal !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw550 {
    font-weight: 550 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.label-required {
    background-color: #d03c42;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 4px;
}

.keep-all {
    word-break: keep-all;
}

.pointer:hover {
    cursor: pointer;
}

.width-fit-content {
    width: fit-content;
}

.no-drop:hover {
    cursor: no-drop;
}

.default:hover {
    cursor: default !important;
}

.text-black {
    color: black;
}

.text-white {
    color: black;
}

.color-2c3348 {
    color: #2c3348;
}

.orange-color {
    background-color: #e0a122 !important;
}

.red-color {
    background-color: #d03c42 !important;
}

.green-color {
    background-color: #2ac172 !important;
}

.white-color {
    background-color: white !important;
}

.black-color {
    background-color: black !important;
}

.input-error {
    border: 1px solid red !important;
    background-color: #fff8f8 !important;
}

.input-error-custom {
    border-radius: unset;
    border: 1px solid red !important;
    border-left: none !important;
}

.cus-checkbox {
    width: 16px;
    height: 16px;
}

.vertical-text-bottom {
    vertical-align: text-bottom;
}

.vertical-top {
    vertical-align: top !important;
}

.error-messages {
 color: red;
}

.custom-top-btn-primary {
    color: #ffffff !important;
    background-color: #0e7aff !important;
    border-radius: 8px !important;
}

.custom-top-btn-success {
    color: #ffffff !important;
    background-color: #24c172 !important;
    border-radius: 8px !important;
}

.custom-top-btn-warning {
    color: #000000 !important;
    background-color: #fec437 !important;
    border-radius: 8px !important;
}

.custom-top-btn-primary:hover:not(:disabled) {
    background-color: #003ead !important;
}

.custom-top-btn-success:hover:not(:disabled) {
    background-color: #147b3b !important;
}

.custom-top-btn-warning:hover:not(:disabled) {
    background-color: #e2ae21 !important;
}

.custom-btn-primary {
    position: relative !important;
    color: #ffffff !important;
    background-color: #0e7aff !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0, 0 3px 0 #2F66C2 !important;
}

.custom-btn-success {
    position: relative !important;
    color: #ffffff !important;
    background-color: #24c172 !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0, 0 3px 0 #3E8955 !important;
}

.custom-btn-warning {
    position: relative !important;
    color: #000000 !important;
    background-color: #fec437 !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0, 0 3px 0 #896E00 !important;
}

.custom-btn-danger {
    position: relative !important;
    color: #ffffff !important;
    background-color: #D04749 !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0, 0 3px 0 #9B1918 !important;
}

.custom-btn-default {
    position: relative !important;
    color: #343953 !important;
    background-color: #ffffff !important;
    border-radius: 8px !important;
    box-shadow: inset 0 0 0, 0 3px 0 #BCC0C9 !important;
    border: solid 1px #BCC0C9 !important;
}

.btn-dropdown-home {
    position: relative !important;
    color: #343953 !important;
    background-color: #ffffff !important;
    border: solid 1px #BCC0C9 !important;
}

.custom-btn-pagination {
    color: #343953 !important;
    background-color: #ffffff !important;
    border-radius: 8px !important;
    border: solid 1px #BCC0C9 !important;
}

.custom-btn-primary:hover:not(:disabled) {
    top: 3px !important;
    background-color: #003ead !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
}

.custom-btn-success:hover:not(:disabled) {
    top: 3px !important;
    background-color: #147b3b !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
}

.custom-btn-warning:hover:not(:disabled) {
    top: 3px !important;
    background-color: #e2ae21 !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
}

.custom-btn-danger:hover:not(:disabled) {
    top: 3px !important;
    background-color: #A2292A !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
}

.custom-btn-default:hover:not(:disabled) {
    top: 3px !important;
    color: #ffffff !important;
    background-color: #7C85A0 !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
    .icon-paginate {
        color: white;
    }
}

.btn-dropdown-home:hover:not(:disabled) {
    top: 3px !important;
    color: #ffffff !important;
    background-color: #7C85A0 !important;
    box-shadow: inset 0 0 0, inset 0 0 0 !important;
    .icon-paginate {
        color: white;
    }
}

#drop-down-home .dropdown-toggle::after {
    float: right !important;
    margin-top: 8px;
}

.container-wrapper-annual #table-property td:first-of-type {
    padding-left: 30px;
}
.container-wrapper-annual #table-property td {
    padding: 40px 15px 30px;
    vertical-align: middle;
}


input[type=checkbox] {
    display: none;
    width: 100%;
    &+label {
        position: relative;
        display: inline-block;
        margin: 0;
        padding-left: 25px;
        font-size: 14px;
        font-weight: normal !important;
        cursor: pointer;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0%;
            box-sizing: border-box;
            display: block;
            margin-top: 2px;
            width: 16px;
            height: 16px;
            border: 1px solid;
            border-color:  #6e7a94;
            background-color: #fff;
        }
    }
    &:checked {
        &+label {
            &::after{
                content: "";
                position: absolute;
                top: 11px;
                left: 3px;

                box-sizing: border-box;
                display: block;
                margin-top: -5px;
                width: 10px;
                height: 6px;
                border-bottom: 2px solid;
                border-left: 2px solid;
                border-color:  #088b5e;
                transform: rotate(-45deg);
            }
        }
    }
}

.btn.disabled, .btn[disabled] {
    cursor: default !important;
}

.datepicker .active {
    display: table-cell;
}

.cursor-unset {
    cursor: unset !important;
}

.w-1 {
    width: 1% !important;
}

.w-2 {
    width: 2% !important;
}

.w-2dot3 {
    width: 2.3% !important;
}

.w-3 {
    width: 3% !important;
}

.w-3dot2 {
    width: 3.2% !important;
}

.w-3dot5 {
    width: 3.5% !important;
}

.w-4 {
    width: 4% !important;
}

.w-4dot2 {
    width: 4.2% !important;
}

.w-4dot5 {
    width: 4.5% !important;
}

.w-4dot6 {
    width: 4.6% !important;
}

.w-5 {
    width: 5% !important;
}

.w-5dot2 {
    width: 5.2% !important;
}

.w-6 {
    width: 6% !important;
}

.w-7dot2 {
    width: 7.2% !important;
}

.w-8 {
    width: 8% !important;
}

.w-10 {
    width: 10% !important;
}

.w-14 {
    width: 14% !important;
}

.w-15 {
    width: 15% !important;
}

.w-16 {
    width: 16% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-31 {
    width: 31% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.vertical-top {
    vertical-align: top !important;
}

.dropdown-none-icon .dropdown-toggle::after {
    display: none !important;
}

.object-fit-contain {
    object-fit: contain !important;
}

.object-fit-fill {
    object-fit: fill !important;
}

.object-fit-cover {
    object-fit: cover !important;
}

.background-color-image {
    background-color: #eff2f4;
}

.text-flex-end {
    justify-content: flex-end !important;
    padding-right: 7.5px !important;
}

.header-space {
    font-size: 10px;
    font-weight: bold;
    padding: 30px 30px 0 30px;
    height: 80px;
}

.table-wrapper {
    display: none;
    margin: auto;
    background-image: url('/images/pattern_bg.jpg') !important;
    background-repeat: repeat;
    background-size: 150mm 150mm;
}

.background-print, .td-header {
    background-color: transparent !important;
}

.td-body {
    padding: 0 30px;
}

.text-flex-start {
    justify-content: flex-start !important;
}

.custom-number-li {
    height: 38px !important;
    margin-right: 0 !important;
}

.space-between {
    justify-content: space-between;
}

.color-title-chart {
    color: #2C3348;
}

.page-break {
    page-break-inside: avoid !important;
}


.m0lr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.custom-dropdown-item {
    font-size: 12px;
}

.custom-fa {
    color: black;
}

.border-base {
    border: 1px solid #060C1C !important;
}

/*====Begin custom large screen col-bootstrap css=====*/
.col-1500-4, .col-1500-8 {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

@media (min-width: 1500px) {
    .col-1500-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-1500-8 {
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
    }
}

/*====end custom =====*/

@media (max-width: 1410px){
    .container-wrapper-annual .group-status-top {
        width: 100% !important;
    }

    .media-1410-m10t {
        margin-top: 10px !important;
    }
}

@media (max-width: 1199px) {
    .m30t-sp {
        margin-top: 30px !important;
    }
}

@media (max-width: 1024px){
    .container-wrapper-annual #form-condition-1 + .row .w-65, .container-wrapper-annual #form-condition-1 + .row .w-35 {
        width: 100% !important;
    }
    .container-wrapper-annual .group-status-top #block-status {
        margin-top: 10px !important;
    }

}


@media (max-width: 767px) {
    .container-padding {
        padding: 45px 20px 60px 20px !important;
    }

    .container-csv-download {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .pcH {
        display: block;
    }

    .spH {
        display: none;
    }

    #wrapper-master .content-wrapper {
        margin: 0;
    }

    #wrapper-master .content-wrapper .container-wrapper {
        padding-right: 0;
        padding-left: 0;
    }

    #wrapper-master .content-wrapper .container-wrapper-add {
        padding-right: 20px;
        padding-left: 20px;
    }

    .p15lr {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .w-auto {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .m0lr-sp {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .m0t-sp {
        margin-top: 0 !important;
    }

    .m0b-sp {
        margin-bottom: 0 !important;
    }

    .m35t-sp {
        margin-top: 35px !important;
    }

    .p0lr-sp {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .p15lr {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 420px) {
    body, input {
        font-size: 11px !important;
    }

    .label-required {
        font-size: 9px;
    }

    label.fs14.fw-bold, p.fs16.fw-bold  {
        font-size: 13px !important;
    }

    p.fs16.fw-bold.m0, .res_mobile p.fs16.fw-bold{
        font-size: 14px !important;
    }

    .fs8-sp {
        font-size: 8px !important;
    }

    .fs10-sp {
        font-size: 10px !important;
    }

    .fs12-sp {
        font-size: 12px !important;
    }

    .fs13-sp {
        font-size: 13px !important;
    }

    .fs14-sp {
        font-size: 14px !important;
    }

    .fs15-sp {
        font-size: 15px !important;
    }

    .fs16-sp {
        font-size: 16px !important;
    }

    .fs18-sp {
        font-size: 18px !important;
    }

    .w60-sp {
        width: 60px !important;
    }

    .w-70-sp {
        width: 70% !important;
    }

    .w-95-sp {
        width: 95% !important;
    }

    .w-100-sp {
        width: 100% !important;
    }

    .margin-auto-sp {
        margin: auto !important;
    }

    .pd-5-sp {
        padding: 5% !important;
    }

    .p7l-sp {
        padding-left: 7px !important;
    }

    .p0t-sp {
        padding-top: 0 !important;
    }

    .p10t-sp {
        padding-top: 10px !important;
    }

    .m10t-sp {
        margin-top: 10px !important;
    }

    .m30t-sp {
        margin-top: 30px !important;
    }
}

#property-results #table-property {
    overflow: hidden !important;
}

.color-black {
    color: #000000;
}

.color-white {
    color: white !important;
}
