.container-wrapper-confirm {
    .diagram-block {
        min-height: auto !important;
    }

    .fa-question-circle {
        color: #6e7a94;
    }

    .red-text {
        color: #d03c42;
    }

    @media (max-width: 1170px) {
        #main-info-assessment {
            .w-65 {
                width: 100% !important;
            }
        }
    }

    @media (max-width: 420px) {
        #form-condition-1{
            .centered{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }

        .row {
            display: block;
        }

        .group-button-top {
            .w70 {
                width: 100% !important;
            }
        }

        .diagram-block {
            .item-simulation {
                .col-8,.col-4 {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                }
                .col-8 {
                    .wp60 {
                        width: 100% !important;
                    }
                    .p10r {
                        padding: 0 !important;
                    }
                    &.flex-wrap {
                        .red-text{
                            margin-left: 30px !important;
                        }
                    }
                }
                .col-4{
                    margin-top: 5px !important;
                }
            }
        }
    }
}


.remove_cfl{
    i{
        color : #d03c42;
    }
}


/* Preview */

#pre-print-confirm-final #block-page {
    min-height: inherit;
}

#pre-print-confirm-final table tbody tr td {
    vertical-align: middle;
}

#pre-print-confirm-final .table-preview .td-vertical {
    padding: 8px !important;
}

#pre-print-confirm-final .relative {
    position: relative;
}

#pre-print-confirm-final .relative .absolute-bottom {
    position: absolute;
    bottom: 0;
}

#pre-print-confirm-final .relative .absolute-bottom .description-border {
    position: relative;
}

#pre-print-confirm-final .relative .absolute-bottom .description-border::before {
    content: "";
    position: absolute;
    left: -31px;
    bottom: 20px;
    width: 25px;
    height: 1px;
    background-color: #707070;
}

.background-print {
    padding: 50px 0;
}

table tbody tr td {
    font-size: 13px;
}

table tbody tr td .row input {
    width: 100%;
}

table tbody tr td .number-border-radius {
    margin: 0 auto;
    width: 19px;
    height: 19px;
    font-size: 10px;
}

table tbody tr td.border-0 {
    border: 0 !important;
}

#pre-print-confirm-final {
    display: inline !important;
}
.container-wrapper-confirm {
    .diagram-block {
        min-height: auto !important;
    }

    .fa-question-circle {
        color: #6e7a94;
    }

    .red-text {
        color: #d03c42;
    }

    @media (max-width: 1170px) {
        #main-info-assessment {
            .w-65 {
                width: 100% !important;
            }
        }
    }

    @media (max-width: 420px) {
        .div-checkbox-house {
            padding: 0;
        }

        .div-label-house {
            padding-left: 30px;
        }

        #form-condition-1{
            .centered{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }

        .row {
            display: block;
        }

        .group-button-top {
            .w70 {
                width: 100% !important;
            }
        }

        .diagram-block {
            .item-simulation {
                .col-8,.col-4 {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                }
                .col-8 {
                    .wp60 {
                        width: 100% !important;
                    }
                    .p10r {
                        padding: 0 !important;
                    }
                    &.flex-wrap {
                        .red-text{
                            margin-left: 30px !important;
                        }
                    }
                }
                .col-4{
                    margin-top: 5px !important;
                }
            }
        }
    }
}


.remove_cfl{
    i{
        color : #d03c42;
    }
}
.paginate-opt{
    width: 100px;
    height: 40px;
}
.td-name{
    width: 50%;
}
.td-no-data{
    width: 30%;
}

.td-no-data-2{
    width: 24%;
}

@media (max-width: 767px) {
    .wrapper-bank-list {
        padding: 45px 20px 60px 20px !important;
    }
    .custom-confirm-final {
        width: 50% !important;
    }
}
