.form-forgot-password {
    padding: 0 5%;
    margin: 5% auto 5%;
}

.btn-forgot-pass {
    width: 280px;
    height: 60px;
    border-radius: 8px;
    background-color: #0e7aff;
}

.div-gmail-forgot-pass {
    width: 400px;
    height: 87px;
    background-color: #eff2f4;
    margin: auto;
    line-height: 87px;
}

.receive-email-forgot-pw {
    width: 720px;
    margin: auto;
}

a.go-to-top {
    text-decoration: underline !important;
}

@media (max-width: 768px) {
    .receive-email-forgot-pw {
        width: 95% !important;
    }
}

@media (max-width: 444px) {
    .form-forgot-password {
        padding-top: 20px !important;
    }
    .div-gmail-forgot-pass {
        width: 85% !important;
    }
}

@media (max-width: 414px) {
    .title-forgot-pw {
        font-size: 24px !important;
    }

    .btn-forgot-pass {
        font-size: 10px !important;
    }
}

@media (max-width: 375px) {
    .title-forgot-pw {
        padding-top: 55px !important;
    }
}
