#header {
    background-color: #2c3348;
    min-height: 5vh;
    color: white;
    align-items: center;
}

.logo-header {
    width: 175px;
    height: 40px;
}

.logout-profile {
    line-height: 60px;
}

@media (max-width: 420px) {
    .text-header {
        margin-bottom: 25px !important;
    }
}
