.fs14w700 {
    font-size: 15px;
    font-weight: 700;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-simulation-logo {
    justify-content: left !important;
    margin-left: 10px;
}

/* header */
.main-header {
    width: 100%;
    margin: 0 !important;
}

.header-simulation {
    display: flex;
}

.header-simulation-logo {
    width: 260px;
}

.header-simulation-left {
    width: 22px;
    margin: 0 2% 0 1%;
}

.header-simulation-search {
    width: 40%;
    margin: auto auto auto 60px;
}

.header-simulation-right {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
}

.badge-home {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    border-radius: 100%;
    right: 5px;
    top: 9px;
}

.bg-search {
    background: #23293c !important;
}

.img-user {
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
}

.info-name-user {
    margin-left: 2%;
}

button.btn-free {
    border-radius: 5px;
    border: 1px solid white;
}

button.btn-basic {
    border-radius: 4px;
    border: 1px solid #0EC7FF;
    color: #0EC7FF !important;
}

button.btn-premium {
    border-radius: 5px;
    border: 1px solid #E0A122;
    color: #E0A122 !important;
}

.bg-general {
    background: #2d3448 !important;
}

.input-search::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.input-search::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

[data-title] {
    position: relative;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -37px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
}

.header-simulation .dropdown-toggle::after {
    display: none !important;
}

.header-btn-search-radius {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.header-form-search-radius {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (max-width: 767px) {
    .header-simulation-right {
        width: 100%;
    }
    
    .name-user {
        display: none;
    }
}
