#wrap {
    #mainWrap {
        padding: 0;
    }

    .loginWrap {
        min-height: calc(100vh - 125px);
        background-color: #EFEFEF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #000;
    }
    .loginWrap input[type=checkbox] {
        display: block;
        width: auto;
    }
    .loginWrap .loginContent {
        width: min(100%, 400px);
    }
    .loginWrap .loginContent h1 {
        text-align: center;
    }
    .loginWrap .loginContent .card {
        margin-top: 38px;
        padding: 30px;
        background-color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 9px 2px rgba(125, 125, 125, 0.1);
        box-shadow: 0px 0px 9px 2px rgba(125, 125, 125, 0.1);
    }
    .loginWrap .loginContent .card form {
        padding-bottom: 30px;
    }
    .loginWrap .loginContent .card form .inputWrap + .inputWrap {
        margin-top: 16px;
    }
    .loginWrap .loginContent .card form .inputWrap p {
        font-size: 12px;
    }
    .loginWrap .loginContent .card form .inputWrap p + div {
        margin-top: 7px;
    }
    .loginWrap .loginContent .card form .inputWrap div.textInput input {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 16px;
        border: 1px solid rgba(110, 122, 148, 0.7);
        border-radius: 5px;
        font-size: 14px;
    }
    .loginWrap .loginContent .card form .inputWrap div.btnInput input {
        -webkit-appearance: none;
        border-radius: 5px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: #0E7AFF;
        padding: 16px 0;
        line-height: 1;
        width: 100%;
        border: none;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        cursor: pointer;
        font-weight: bold;
    }
    .loginWrap .loginContent .card form .inputWrap div.btnInput input:hover {
        background-color: #003ead;
    }
    .loginWrap .loginContent .card form .inputWrap div.checkInput label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .loginWrap .loginContent .card form .inputWrap div.checkInput label input {
        margin: 0;
        margin-right: 4px;
    }
    .loginWrap .loginContent .card form #forgot-pass {
        margin-top: 17px;
        display: inline-block;
        color: #2B9ACB;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .loginWrap .loginContent .card form #forgot-pass:hover {
        opacity: 0.7;
    }
    .loginWrap .loginContent .card .link {
        border-top: 1px solid #DDDDDD;
        padding-top: 30px;
    }
    .loginWrap .loginContent .card .link a {
        display: block;
        border-radius: 5px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: #24c172;
        padding: 16px 0;
        line-height: 1;
        width: 100%;
        border: none;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        cursor: pointer;
        font-weight: bold;
    }
    .loginWrap .loginContent .card .link a:hover {
        background-color: #147b3b;
    }

}
