.has-error-monthly-balance{
    width: 100%;
    padding: 1%;
    display: none;
    background-color: #EDDFDF !important;
    border: 2px solid #D03C42 !important;
    margin-bottom: 30px;
}

.input-error {
    border: 1px solid red !important;
    background-color: #fff8f8 !important;
}

#wrapper-master .content-wrapper .container-wrapper-monthly {
    padding: 45px 60px 200px 60px;
    #table-property{
        td{
            padding: 40px 15px 30px;
            vertical-align: middle;
            &:first-of-type{
                padding-left: 30px;
            }

            .form-control{
                &.disable-field{
                    border: none;
                    border-radius: 0;
                }
            }

            .number-li{
                margin: 0;
                height: auto;
                &+.col-12{
                    //                width: 300px;
                    input{
                        width: 300px;
                    }
                }
            }
        }
    }

    @media (max-width: 1630px) {
        .group-button-top{
            margin-top: 10px !important;
        }

        #form-condition-1{

            div[class^="col"]{
                flex: 100% !important;
                min-width: 100% !important;
            }
            .text-center,.text-lg-right{
                text-align: left !important;
            }
        }
    }

    @media (max-width: 1055px) {
        .block-status {
            margin-top: 10px !important;
        }
    }

    @media (max-width: 843px) {
        .block-text {
            margin-top: 10px !important;
        }
    }

    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (max-width: 420px) {
        .row{
            display: block;
        }

        #block-status .w250 {
            width: 100%;
        }

        .col-12-sp{
            padding: 0 !important;
            max-width: 100% !important;
        }

        #form-condition-1{
            #pre-print {
                margin-left: 0 !important;
            }
            .centered{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                &.w90{
                    width: 100% !important;
                }
            }

            div[class^="col"]{
                margin-top: 30px !important;
                &:first-of-type{
                    margin: 0 !important;
                }
                .btn-group,.spBlock,.custom-btn-default{
                    margin: 10px 0 0 0 !important;
                    &:first-of-type{
                        margin-top: 0 !important;
                    }
                }
                .custom-btn-success{
                    margin-top: 30px !important;
                }
            }
            .text-center,.text-lg-right{
                text-align: left !important;
            }
            #block-status .w250 {
                width: 100% !important;
            }
        }

        .p25l-sp {
            padding-left: 25px !important;
        }
    }
}
.note-monthly-balance{
    width: 100%;
    padding: 1%;
    background-color: #EDDFDF !important;
    border: 2px solid #D03C42 !important;
    margin-bottom: 30px;
}

.error-monthly span{
    font-size: 10px;
}

.error-monthly p{
    display: inline;
    color: red;
}

.error-flag {
    background-color: #FFDBDB !important;
}

.error-monthly span{
    color: #FFDBDB;
}

@media (min-width: 1444px) and (max-width: 1630px) {
    .block-proprietor {
        margin-top: 0 !important;
    }
}

@media (min-width: 1970px) {
    .block-proprietor {
        margin-top: 0 !important;
    }
}
