#wrap {
    #kvWrap {
        width: 100%;
        background-color: #f5f5f5;
        position: relative;
        overflow: hidden;
    }

    #kvWrap #kv {
        width: 100%;
        padding-top: 10.61%;
        padding-bottom: 9.15%;
        padding-left: 9.15%;
        position: relative;
        z-index: 2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kv {
            padding-top: 16vw;
            padding-bottom: 87vw;
            padding-left: 0;
        }
    }

    #kvWrap #kvTextArea {
        width: 40.99%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea {
            width: 100%;
        }
    }

    #kvWrap #kvTextArea > * {
        margin-top: 8.92%;
    }

    #kvWrap #kvTextArea > *:first-child {
        margin-top: 0;
    }

    #kvWrap #kvTextArea .kvTitleArea {
        width: 100%;
    }

    #kvWrap #kvTextArea .kvTitleArea > * {
        margin-top: 3.57%;
    }

    #kvWrap #kvTextArea .kvTitleArea > *:first-child {
        margin-top: 0;
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle > * {
        margin-top: 2.85%;
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle > *:first-child {
        margin-top: 0;
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle .subTitle, #kvWrap #kvTextArea .kvTitleArea .kvTitle .mainTitle {
        width: 100%;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle .subTitle {
        line-height: 1;
        font-size: 1.97vw;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea .kvTitleArea .kvTitle .subTitle {
            font-size: 5vw;
        }
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle .subTitle .en {
        font-size: 2.19vw;
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea .kvTitleArea .kvTitle .subTitle .en {
            font-size: 5.6vw;
        }
    }

    #kvWrap #kvTextArea .kvTitleArea .kvTitle .mainTitle {
        line-height: 1;
        font-size: 5.85vw;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea .kvTitleArea .kvTitle .mainTitle {
            font-size: 15vw;
        }
    }

    #kvWrap #kvTextArea .kvTitleArea .kvCatch {
        line-height: 1.8;
        font-size: 1.46vw;
        font-weight: bold;
        letter-spacing: 0.2em;
        text-align: center;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea .kvTitleArea .kvCatch {
            font-size: 3.4vw;
        }
    }

    #kvWrap #kvTextArea .kvBtnArea {
        width: 100%;
        text-align: center;
    }

    #kvWrap #kvTextArea .kvBtnArea > a {
        line-height: 1;
        font-size: 1.31vw;
        font-weight: bold;
        display: inline-block;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvTextArea .kvBtnArea > a {
            font-size: 3.4vw;
        }
    }

    #kvWrap #kvImg {
        width: 51.24%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    @media only screen and (max-width: 1023px) {
        #kvWrap #kvImg {
            width: 90%;
            top: auto;
            bottom: 0;
        }
    }

    #kvWrap #kvImg > img {
        width: 100%;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #cloudService {
        width: 100%;
    }

    #cloudService .sectionInner {
        padding-top: 100px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .sectionInner {
            padding-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .sectionInner {
            padding-top: 18%;
        }
    }

    #cloudService .sectionInner > * {
        margin-top: 80px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .sectionInner > * {
            margin-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .sectionInner > * {
            margin-top: 16%;
        }
    }

    #cloudService .sectionInner > *:first-child {
        margin-top: 0;
    }

    #cloudService .photoDetailBoxWrap {
        width: 100%;
    }

    #cloudService .photoDetailBoxWrap > * {
        margin-top: 100px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap > * {
            margin-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap > * {
            margin-top: 16%;
        }
    }

    #cloudService .photoDetailBoxWrap > *:first-child {
        margin-top: 0;
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        #cloudService .photoDetailBoxWrap .photoDetailBox > * {
            margin-top: 6%;
        }
        #cloudService .photoDetailBoxWrap .photoDetailBox > *:first-child {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 1024px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox:nth-child(even) .photo {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
        #cloudService .photoDetailBoxWrap .photoDetailBox:nth-child(even) .detail {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox:nth-child(even) .photo {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
        #cloudService .photoDetailBoxWrap .photoDetailBox:nth-child(even) .detail {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .photo {
        width: 50%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .photo {
            width: 35%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .photo {
            width: 100%;
        }
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .photo .photoInner {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .photo img {
        width: 100%;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .detail {
        width: 50%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail {
            width: 60%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail {
            width: 100%;
        }
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner {
        padding-right: 18.5%;
        padding-left: 13.39%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner {
            padding-right: 0;
            padding-left: 0;
        }
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner > * {
        margin-top: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner > * {
            margin-top: 3%;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner > * {
            margin-top: 3%;
        }
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner > *:first-child {
        margin-top: 0;
    }

    #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner .titleArea .title {
        line-height: 1.6;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.12em;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner .titleArea .title {
            font-size: 4vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .photoDetailBoxWrap .photoDetailBox .detail .detailInner .titleArea .title {
            font-size: 6vw;
        }
    }

    #cloudService .noticeArea p {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.08em;
        text-align: right;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #cloudService .noticeArea p {
            font-size: 1.6vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #cloudService .noticeArea p {
            font-size: 3vw;
        }
    }

    #price {
        width: 100%;
    }

    #price .sectionInner > * {
        margin-top: 80px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .sectionInner > * {
            margin-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .sectionInner > * {
            margin-top: 16%;
        }
    }

    #price .sectionInner > *:first-child {
        margin-top: 0;
    }

    #price .planTblArea {
        width: 100%;
    }

    #price .planTblArea > * {
        margin-top: 25px;
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea > * {
            margin-top: 8%;
        }
    }

    #price .planTblArea > *:first-child {
        margin-top: 0;
    }

    #price .planTblArea .planTbl {
        width: 100%;
        border-spacing: 0;
        table-layout: fixed;
        display: table;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl {
            display: block;
        }
    }

    #price .planTblArea .planTbl .planTblLine {
        display: table-row;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblLine {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    #price .planTblArea .planTbl .planTblCell {
        width: 20.66%;
        line-height: 1.6;
        padding: 20px 0;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.02em;
        border: 1px solid #f3f3f3;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (min-width: 1024px) {
        #price .planTblArea .planTbl .planTblCell {
            display: table-cell;
        }
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell {
            width: 33.333%;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell {
            padding: 3vw 0;
            font-size: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planTblCell {
            padding: 4vw 0;
            font-size: 4.2vw;
        }
    }

    #price .planTblArea .planTbl .planTblCell.cellTitle {
        width: 38%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: left;
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell.cellTitle {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }
    }

    #price .planTblArea .planTbl .planTblCell.cellTitle .question {
        line-height: 1;
        margin-top: 0.5em;
        margin-left: 0.5em;
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell.cellTitle .question img {
            width: 2.2vw;
        }
    }

    #price .planTblArea .planTbl .planTblCell.cellTitle .implementation {
        line-height: 1;
        margin-top: 0.4em;
        margin-left: 0.5em;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        color: #7f7f7f;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell.cellTitle .implementation {
            margin-top: 0.7em;
            font-size: 2vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planTblCell.cellTitle .implementation {
            margin-top: 0.6em;
            font-size: 3vw;
        }
    }

    @media only screen and (min-width: 1024px) {
        #price .planTblArea .planTbl .planTblCell.cellTitle .modalBtn {
            -webkit-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }
        #price .planTblArea .planTbl .planTblCell.cellTitle .modalBtn:hover {
            opacity: 0.6;
        }
    }

    #price .planTblArea .planTbl .planTblCell.bgTrans {
        background-color: transparent;
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblCell.spSelectCell {
            width: 100%;
            padding: 0;
        }
    }

    #price .planTblArea .planTbl .planTblHead .planTitle {
        font-size: 18px;
        background-color: #cad0d6;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblHead .planTitle {
            font-size: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planTblHead .planTitle {
            font-size: 4.2vw;
        }
    }

    #price .planTblArea .planTbl .planTblHead .planFree,
    #price .planTblArea .planTbl .planTblHead .planBasic,
    #price .planTblArea .planTbl .planTblHead .planPremium {
        font-size: 24px;
        color: #fff;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblHead .planFree,
        #price .planTblArea .planTbl .planTblHead .planBasic,
        #price .planTblArea .planTbl .planTblHead .planPremium {
            font-size: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planTblHead .planFree,
        #price .planTblArea .planTbl .planTblHead .planBasic,
        #price .planTblArea .planTbl .planTblHead .planPremium {
            font-size: 4.2vw;
        }
    }

    #price .planTblArea .planTbl .planTblHead .planFree .catch,
    #price .planTblArea .planTbl .planTblHead .planBasic .catch,
    #price .planTblArea .planTbl .planTblHead .planPremium .catch {
        font-size: 13px;
        font-weight: normal;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planTblHead .planFree .catch,
        #price .planTblArea .planTbl .planTblHead .planBasic .catch,
        #price .planTblArea .planTbl .planTblHead .planPremium .catch {
            font-size: 1.8vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planTblHead .planFree .catch,
        #price .planTblArea .planTbl .planTblHead .planBasic .catch,
        #price .planTblArea .planTbl .planTblHead .planPremium .catch {
            display: none;
        }
    }

    #price .planTblArea .planTbl .planTblHead .planFree {
        background-color: #db9a33;
    }

    #price .planTblArea .planTbl .planTblHead .planBasic {
        background-color: #1647c4;
    }

    #price .planTblArea .planTbl .planTblHead .planPremium {
        background-color: #cb2539;
    }

    #price .planTblArea .planTbl .planUserPrice .planTblSelect {
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        line-height: 1;
        padding: 20px 60px 20px 20px;
        font-family: inherit;
        font-size: 15px;
        color: #fff;
        background-color: #599f9e;
        background-image: url("../../images/top/icon/arrow_bottom_white.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 12px auto;
        cursor: pointer;
        outline: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .planTblSelect {
            width: 100%;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .planTblSelect {
            padding: 3vw 8vw 3vw 3vw;
            font-size: 3vw;
            background-position: right 4vw center;
            background-size: 2vw auto;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .planTblSelect {
            padding: 4vw 12vw 4vw 4vw;
            font-size: 4.2vw;
            background-position: right 4vw center;
            background-size: 4vw auto;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .cellTitle {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .cellTitle {
            font-size: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .cellTitle {
            font-size: 4.2vw;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .cellTitle > * {
        margin-top: 25px;
    }

    #price .planTblArea .planTbl .planUserPrice .cellTitle > *:first-child {
        margin-top: 0;
    }

    #price .planTblArea .planTbl .planUserPrice .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #price .planTblArea .planTbl .planUserPrice .price > span.priceNum {
        line-height: 1;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.priceNum {
            font-size: 5vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.priceNum {
            font-size: 5vw;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .price > span.unit {
        margin-left: 0.5em;
        text-align: left;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit {
            line-height: 1;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit {
            line-height: 1;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .price > span.unit .tax {
        line-height: 1;
        display: inline-block;
        font-size: 13px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit .tax {
            vertical-align: top;
            font-size: 1.7vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit .tax {
            vertical-align: top;
            font-size: 2.8vw;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .price > span.unit .yen {
        line-height: 1;
        display: inline-block;
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit .yen {
            margin-top: -0.1em;
            vertical-align: top;
            font-size: 2.7vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .price > span.unit .yen {
            margin-top: -0.1em;
            vertical-align: top;
            font-size: 3.4vw;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .detail {
        line-height: 1.6;
        margin-top: 1em;
        font-size: 12px;
        letter-spacing: 0.02em;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .planUserPrice .detail {
            font-size: 1.7vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .planUserPrice .detail {
            font-size: 3vw;
        }
    }

    #price .planTblArea .planTbl .planUserPrice .pricePlanKind_1,
    #price .planTblArea .planTbl .planUserPrice .pricePlanKind_2 {
        display: none;
    }

    #price .planTblArea .planTbl .planUserPrice .pricePlanKind_1.active,
    #price .planTblArea .planTbl .planUserPrice .pricePlanKind_2.active {
        display: block;
    }

    #price .planTblArea .planTbl .icon img {
        display: inline-block;
        vertical-align: middle;
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .icon img {
            width: 6vw;
        }
    }

    #price .planTblArea .planTbl .icon + * {
        margin-top: 0.5em;
    }

    #price .planTblArea .planTbl .notice {
        font-size: 11px;
        font-weight: normal;
        color: #5a5a5a;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #price .planTblArea .planTbl .notice {
            font-size: 1.5vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #price .planTblArea .planTbl .notice {
            font-size: 3vw;
        }
    }

    #faq {
        width: 100%;
    }

    #faq .sectionInner > * {
        margin-top: 80px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .sectionInner > * {
            margin-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .sectionInner > * {
            margin-top: 16%;
        }
    }

    #faq .sectionInner > *:first-child {
        margin-top: 0;
    }

    #faq .faqListWrap {
        width: 100%;
    }

    #faq .faqListWrap .faqList {
        width: 100%;
    }

    #faq .faqListWrap .faqList > * {
        margin-top: 10px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > * {
            margin-top: 2%;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > * {
            margin-top: 3%;
        }
    }

    #faq .faqListWrap .faqList > *:first-child {
        margin-top: 0;
    }

    #faq .faqListWrap .faqList > dl {
        width: 100%;
        border-radius: 8px;
        background-color: #f0f1f2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl {
            -webkit-box-sizing: 2vw;
            box-sizing: 2vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl {
            -webkit-box-sizing: 3vw;
            box-sizing: 3vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dt > a {
        width: 100%;
        line-height: 1.6;
        padding: 25px 97px 25px 90px;
        font-size: 15px;
        font-weight: bold;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: background-color, color;
        -o-transition-property: background-color, color;
        transition-property: background-color, color;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        color: #000;
    }

    #faq .faqListWrap .faqList > dl > dt > a:visited, #faq .faqListWrap .faqList > dl > dt > a:focus, #faq .faqListWrap .faqList > dl > dt > a:active {
        color: #000;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dt > a {
            padding: 3vw 9vw;
            font-size: 2.4vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dt > a {
            padding: 4vw 14vw;
            font-size: 3.6vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dt > a:before {
        content: 'Q';
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #000;
        position: absolute;
        top: 15px;
        left: 40px;
        -webkit-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dt > a:before {
            line-height: 1;
            font-size: 5vw;
            top: 2.5vw;
            left: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dt > a:before {
            line-height: 1;
            font-size: 8vw;
            top: 4vw;
            left: 4vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dt > a:after {
        width: 17px;
        height: 10px;
        content: '';
        display: block;
        background-image: url("../../images/top/icon/arrow_bottom_black.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        -webkit-transform: rotate(0) translateY(-50%);
        -ms-transform: rotate(0) translateY(-50%);
        transform: rotate(0) translateY(-50%);
        position: absolute;
        top: 50%;
        right: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dt > a:after {
            width: 2vw;
            height: 1.4vw;
            right: 4vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dt > a:after {
            width: 4vw;
            height: 2.4vw;
            right: 6vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dt > a.active {
        background-color: #599f9e;
        color: #fff;
    }

    #faq .faqListWrap .faqList > dl > dt > a.active:visited, #faq .faqListWrap .faqList > dl > dt > a.active:focus, #faq .faqListWrap .faqList > dl > dt > a.active:active {
        color: #fff;
    }

    #faq .faqListWrap .faqList > dl > dt > a.active:before {
        color: #fff;
    }

    #faq .faqListWrap .faqList > dl > dt > a.active:after {
        -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
        transform: rotate(180deg) translateY(50%);
        background-image: url("../../images/top/icon/arrow_bottom_white.svg");
    }

    @media only screen and (min-width: 1024px) {
        #faq .faqListWrap .faqList > dl > dt > a:hover {
            background-color: #599f9e;
            color: #fff;
        }
        #faq .faqListWrap .faqList > dl > dt > a:hover:visited, #faq .faqListWrap .faqList > dl > dt > a:hover:focus, #faq .faqListWrap .faqList > dl > dt > a:hover:active {
            color: #fff;
        }
        #faq .faqListWrap .faqList > dl > dt > a:hover:before {
            color: #fff;
        }
        #faq .faqListWrap .faqList > dl > dt > a:hover:after {
            -webkit-transform: rotate(180deg) translateY(50%);
            -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
            background-image: url("../../images/top/icon/arrow_bottom_white.svg");
        }
    }

    #faq .faqListWrap .faqList > dl > dd {
        width: 100%;
        padding: 25px 40px 25px 90px;
        display: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dd {
            padding: 3vw 3vw 3vw 9vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dd {
            padding: 4vw 4vw 4vw 14vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dd:before {
        content: 'A';
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #000;
        position: absolute;
        top: 23px;
        left: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dd:before {
            line-height: 1;
            font-size: 5vw;
            top: 2.5vw;
            left: 3vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dd:before {
            line-height: 1;
            font-size: 8vw;
            top: 4vw;
            left: 4vw;
        }
    }

    #faq .faqListWrap .faqList > dl > dd > p {
        line-height: 1.6;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.12em;
        color: #000;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .faqListWrap .faqList > dl > dd > p {
            font-size: 2.4vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .faqListWrap .faqList > dl > dd > p {
            font-size: 3.6vw;
        }
    }

    #faq .moreBtnArea {
        text-align: center;
    }

    #faq .moreBtnArea > a {
        width: 200px;
        font-size: 15px;
        font-weight: bold;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #faq .moreBtnArea > a {
            width: 50%;
            font-size: 2.4vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #faq .moreBtnArea > a {
            width: 70%;
            font-size: 3.6vw;
        }
    }

    #letsTry {
        width: 100%;
    }

    #letsTry .sectionInner > * {
        margin-top: 80px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .sectionInner > * {
            margin-top: 14%;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .sectionInner > * {
            margin-top: 16%;
        }
    }

    #letsTry .sectionInner > *:first-child {
        margin-top: 0;
    }

    #letsTry .tryBtnWrap {
        width: 100%;
    }

    #letsTry .tryBtnWrap .tryBtnList {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li {
        margin-left: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li {
            width: 48%;
            margin-left: 5%;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li {
            width: 100%;
            margin-top: 20%;
            margin-left: 0;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li:first-child {
        margin-left: 0;
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li:first-child {
            margin-top: 0;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li > a {
        width: 300px;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li > a {
            width: 100%;
            font-size: 2.8vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li > a {
            width: 100%;
            font-size: 5vw;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li.registration {
        position: relative;
    }

    #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon {
        border-radius: 6px;
        background-color: #0e7aff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: translate(-50%, -130%);
        -ms-transform: translate(-50%, -130%);
        transform: translate(-50%, -130%);
        position: absolute;
        top: 0;
        left: 50%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon {
            border-radius: 1vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon {
            border-radius: 2vw;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner {
        padding: 10px 15px;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner {
            padding: 1.6vw 2vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner {
            padding: 2.6vw 3vw;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner:after {
        width: 0;
        height: 0;
        content: '';
        display: block;
        border-top: 15px solid #0e7aff;
        border-right: 10px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 10px solid transparent;
        -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner:after {
            border-top-width: 2vw;
            border-right-width: 1.6vw;
            border-left-width: 1.6vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon .registrationBalloonInner:after {
            border-top-width: 3vw;
            border-right-width: 2.6vw;
            border-left-width: 2.6vw;
        }
    }

    #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon p {
        line-height: 1;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        color: #fff;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon p {
            font-size: 2vw;
        }
    }

    @media only screen and (max-width: 767px) {
        #letsTry .tryBtnWrap .tryBtnList > li.registration .registrationBalloon p {
            font-size: 3.4vw;
        }
    }
}
