.container-wrapper-pay {
    .table-payment td.first-td {
        width: 40%;
        font-weight: bold;
        color: white;
        background-color: #6E7A94;
    }

    .border-blockquote {
        border-left: 1px solid #aaacaf !important;
    }
}

@media (max-width: 1200px) {
    .container-wrapper-pay .block-table-billing {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }

    .container-wrapper-pay .block-table-billing .table-billing {
        min-width: 600px !important;
    }
}

@media (max-width: 991px) {
    .container-wrapper-pay .logo-company,
    .container-wrapper-pay .table-payment {
        margin-top: 30px !important;
    }
}

@media (max-width: 767px) {
    #wrapper-master .content-wrapper .container-wrapper-bank.container-wrapper-pay {
        padding-right: 20px;
        padding-left: 20px;
    }
}
