input {
    border-style: groove;
    background-color: #fff;

}

.container-preview {
    .diagram-block {
        box-shadow: none;
    }
}

.table-preview td, .table-preview-2 td {
    padding: 5px 8px !important;
    vertical-align: middle;
}


table {
    tr {
        td,th {
            font-size: 13px;
            &.border-0 {
                border: 0 !important;
            }
            &.border-top-0 {
                border-top: 0 !important;
            }
            &.border-bottom-0 {
                border-bottom: 0 !important;
            }
            &.border-right-0 {
                border-right: 0 !important;
            }
            &.border-left-0 {
                border-left: 0 !important;
            }

            .row {
                input {
                    width: 100%;
                }
            }

            .number-border-radius {
                margin: 0 auto;
                width: 19px;
                height: 19px;
                font-size: 10px;
            }
        }
    }
}

#pre-print-business-plan {
    table {
        tbody {
            tr {
                td {
                    font-size: 12px;
                }
            }
        }
    }
}

#pre-print-confirm-final {
    #block-page {
        min-height: inherit;
    }

    .table-preview .td-vertical {
        padding: 8px !important;
    }

    .relative {
        position: relative;

        .absolute-bottom {
            position: absolute;
            bottom: 0;

            .description-border {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -31px;
                    bottom: 20px;
                    width: 25px;
                    height: 1px;
                    background-color: #707070;
                }
            }
        }
    }
}
#pre-print-business-plan {
    table {
        &.tb-pre-4 {
            tbody {
                tr {
                    &:nth-of-type(6):not(.no-fix) {
                        td {
                            //height: 43px;
                        }
                    }
                    &:nth-of-type(15):not(.no-fix) {
                        td {
                            height:33px;
                        }
                    }
                    &:nth-of-type(16):not(.no-fix) {
                        td {
                            //height: 43px;
                        }
                    }
                    &:nth-of-type(22):not(.no-fix) {
                        td {
                            //height: 43px;
                        }
                    }
                }
            }
        }
    }
}
#pre-print-simple-assessment {
    .modal-header {
        +.row {
            .col-3 {
                .table-preview {
                    tbody {
                        tr {
                            td {
                                height: 50px;
                            }
                        }
                    }
                }
            }

            .col-6 {
                .table-preview {
                    tbody {
                        tr {
                            &:first-of-type {
                                td {
                                    padding: 5px 8px 0 !important;
                                    &:first-of-type {
                                        padding: 8px !important;
                                    }
                                }
                            }
                            td {
                                padding: 0 8px 5px !important;
                                height: auto;
                                input {
                                    width: 100%;
                                    height: 23px;
                                }
                                .row {
                                    input {
                                        width: calc( 100% - 17px );
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    table {
        tbody {
            tr {
                td {
                    height: 36px;
                }
            }
        }
        &.tb-pre-4 {
            tbody {
                tr {
                    td {
                        padding: 5px 8px !important;
                        input {
                            padding-left: 5px;
                            height: 23px;
                        }
                    }
                    &:nth-of-type(6):not(.no-fix) {
                        td {
                            //height: 55px;
                        }
                    }
                    &:nth-of-type(15):not(.no-fix) {
                        td {
                            //height: 56px;
                        }
                    }
                    &:nth-of-type(16):not(.no-fix) {
                        td {
                            //height: 55px;
                        }
                    }
                    &:nth-of-type(22):not(.no-fix) {
                        td {
                            //height: 55px;
                        }
                    }
                }
            }
        }
    }
}

#pre-print-rent-roll {
    .print-bg {
        margin: 0 auto;
    }

    .preview-print {
        .page-1, .page-2 {
            padding: 30px;
            margin: 0 auto;
            width: 100%;
            max-width: 1520px !important;
        }
    }

    #table-data {
        td, th {
            font-size: 10px !important;
            &.border-0 {
                border: 0 !important;
            }
        }
        td.fs8 {
            font-size: 8px !important;
        }
    }
    .table-preview {
        tbody {
            tr {
                td {
                    padding: 3px 8px !important;

                    .rent-btn {
                        box-sizing: border-box;
                        display: block;
                        padding: 3px 7px;
                        width: 56px;
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 30px;
                        &.rent-green-btn {
                            background-color: #999;
                        }
                        &.rent-pink-btn {
                            background-color: #666;
                        }
                        &.rent-general-btn {
                            background-color: #333;
                        }
                    }
                }
            }
        }
    }

    .room_no_empty {
        width: 18px;
        height: 18px;
        background: #0E7AFF;
    }

    .room_empty {
        width: 18px;
        height: 18px;
        background: #D03C42;
    }

    .legend-chart {
        display: none;
    }
}


//@page {
//    size: A3 landscape;
//}

//@media print {
//    .background-print {
//        margin: auto;
//        padding: 0 !important;
//        width: 1530px;
////        height: 150px;
//        transform: scale(0.85);
//        transform-origin: 0px 0px;
//    }
//
//    #pre-print-rent-roll {
//        &.background-print {
//            transform: scale(1)
//        }
//    }
//
//    #pre-print-business-plan {
//        table {
//            tbody {
//                tr {
//                    td {
//                        font-size: 11px;
//                    }
//                }
//            }
//        }
//    }
//    #block-page, .print-bg {
//        height: auto;
//        transform: none;
//        transform-origin: 50% 50%;
//    }
//}
