#pre-print-portfolio {
    display: none;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

#block-page {
    //padding: 30px;
    margin: 0 auto;
    background-color: transparent !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //background-image: url("../../images/pattern_bg.jpg") !important;
    background-repeat: repeat;
    background-size: 150mm 150mm;
    max-width: 1520px;
    //min-height: 1075px;
}

#table-data {
    font-size: 10px;
    margin-bottom: 90px;
}

#table-data th {
    padding: 5px;
    background-color: transparent !important;
    vertical-align: middle;
    word-break: keep-all;
    text-align: center;
    border: solid 1px black !important;
}

#table-data td {
    margin: 0;
    padding: 5px;
    background-color: transparent !important;
    text-align: right;
    vertical-align: middle;
    word-break: break-all;
    border: solid 1px black !important;
}

#table-data .title-small {
    word-break: break-all;
}

#close-pre-print-portfolio {
    color: black;
    padding: 5px 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#container-preview {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #707070;
}

#pre-print-rent-roll #table-data td.border-0, #pre-print-rent-roll #table-data th.border-0 {
    border: 0 !important;
}

#pre-print-rent-roll #table-data td, #pre-print-rent-roll #table-data th, #pre-print-rent-roll #table-data td span{
    font-size: 10px !important;
}

#pre-print-rent-roll .table-preview tbody tr td {
    padding: 3px 8px !important;
}

.container-preview {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #707070;
}
