#main-info-property input, #main-info-property select {
    height: 32px;
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    font-size: 14px;
}

#main-info-property input[type=number] {
    text-align: right;
}

.item-block-property {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
}

.unit-info {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit-info span {
    margin-top: 20px;
}

.question-icon {
    margin-left: 10px;
    color: #6e7a94;
}

.number-li {
    width: 19px;
    height: 19px;
    background-color: #0e7aff;
    margin-right: 6px;
    text-align: center;
    color: #ffffff;
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-map, #scatter-diagram {
    height: 460px;
}

#simulation-result {
    height: 477px;
}

#show-property {
    width: 178px;
    height: 38px;
    box-shadow: 0 2px 0 #bcc0c9;
    border-radius: 8px;
    border: 1px solid #bcc0c9;
    background-color: #ffffff;
}

.res-info-property, .update-property {
    width: 68px;
    height: 37px;
    box-shadow: 0 2px 0 #327e4f;
    border-radius: 8px;
    background-color: #24c172;
}

.set-scrollbar {
    top: 15px !important;
    border-radius: 8px;
    overflow-y: auto;
    height: 338px;
    width: 268px;
}

#drop-down {
    top: 15px !important;
    left: -90px !important;
    width: 268px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #ffffff;
}

#drop-down .dropdown-item {
    white-space: normal !important;
}

.disable-field {
    background-color: #eff2f4 !important;
}

.list-house .disabled {
    pointer-events: none;
    cursor: unset;
    opacity: 0.6;
}

.unit-yen {
    display: inline-block;
    width: 10%;
    text-align: right !important;
}

#show-property.dropdown-toggle::after {
    display: none;
}

#form-data-property select {
    padding: .2rem .5rem !important;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.register-new-house input{
    font-size: 14px;
}

.create-info-sub-user,
.update-info-sub-user,
.admin-add,
.admin-edit {
    width: 280px;
    height: 60px;
}

@media (max-width: 1200px) {
    .res_mobile {
        padding-left: 7.5px !important;
    }
}

@media (max-width: 1199px) {
    .p5t-mobile {
        padding-top: 5px !important;
    }
}

@media (max-width: 992px) {
    .item-block-property {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 768px) {
    #drop-down {
        left: 0 !important;
    }
}

@media (max-width: 767px) {
    .register-p10lr {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (min-width: 1800px) {
    .cus-col-image {
        max-width: 18% !important;
    }

}

@media (min-width: 1200px) and (max-width: 1400px) {
    .cus-col-image {
        max-width: 35% !important;
    }

    .cus-col-text {
        max-width: 65% !important;
    }
}

@media (max-width: 575px) {
    .item-block-property {
        border-radius: 0 !important;
    }
}

@media (max-width: 1024px) {
    .hide-text {
        display: none;
    }
}

.error-register-info {
    display: none;
    border: 2px solid #D03C42 !important;
    padding: 1%;
    font-weight: bold;
}
.error-register-info a {
    text-decoration: underline;
}
