#wrapper-master .content-wrapper .container-wrapper-add,
#wrapper-master .content-wrapper .container-wrapper-edit {

    padding: 45px 60px 60px 60px;

    .wrap-input {
        border: 1px solid #bcc0c9;
        border-radius: 0 6px 6px 0;
        background: white;
    }
    .w-45 {
        .diagram-analysis{
            .diagram-block{
                .row{
                    .w-70{
                        .w-100{
                            textarea{
                                min-height: 96px;
                            }
                        }
                    }
                }


            }
        }
    }

    #table-property {
        td {
            padding: 1rem;
            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
            &.sticky {
                position: sticky;
                left: 0;
                z-index: 100;
                border-collapse: separate;
                background-color: #fff;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    border-right: 1px solid #dee2e6;
                }
            }
        }

        tr{
            &:first-of-type {
                td{
                    padding-top: 0;
                }
            }
        }

    }

    @media (max-width: 1055px) {
        .w-45{
            width: 100% !important;
        }

        .w-50{
            width: 100% !important;
        }

        .w-65{
            width: 100% !important;
        }
    }

    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (max-width: 575px) {
        .diagram-block {
            border-radius: 10px !important;
        }
    }

    @media (max-width: 420px) {
        .w-45{
            .diagram-analysis{
                .diagram-block{
                    .row{
                        div[class^="w-"]{
                            margin-top: 5px !important;
                            width: 100% !important;
                        }
                        .w-70{
                            .w230{
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }

        .diagram-analysis {
            .diagram-block {
                .w-50 {
                    &.row {
                        display: block !important;
                    }
                    .col-6 {
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                        &.p10l {
                            padding: 10px 0 0 !important;
                        }
                    }
                }
            }
        }
    }
}
