.container-wrapper-history{
    padding: 45px 60px 60px 60px !important;
    #table-property{
        td{
            padding: 20px 15px;
            vertical-align: middle;
            &:first-of-type{
                padding: 20px 15px 20px 20px;
            }
            a{
                color: #1C7FBE;
                &:hover{
                    color: #0056b3;
                }
            }
        }

        .bg-general{
            color: #fff;
        }

        .fa-trash-alt{
            color: #d03c42;

        }
    }


    @media (max-width: 1145px) {
        #form-list-repair-history{
            display: block !important;

            .col-6 {
                flex: 0 0 100% !important;
                margin-top: 30px !important;
                max-width: 100% !important;
                &:first-of-type{
                    margin-top: 0 !important;
                }
            }
        }
    }

    @media (max-width: 1500px) {
        .w-45{
            width: 70% !important;
        }
    }

    @media (max-width: 1055px) {
        .row{
            &.text-lg-right{
                display: block !important;
            }
            .col-6{
                flex: 0 0 100% !important;
                margin-top: 30px !important;
                max-width: 100% !important;
                text-align: left !important;
                &:first-of-type{
                    margin-top: 0 !important;
                }
            }
        }
    }

    @media (max-width: 420px) {
        .row{
            display: block !important;
        }

        #form-list-repair-history{
            .centered,.centered-vertical{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                width: 100% !important;
                text-align: center !important;
            }
            .centered-vertical{
                display: block !important;
            }
            .col-6{
                .btn-group,.btn{
                    margin: 0 !important;
                }
                .custom-btn-primary{
                    margin-top: 10px !important;
                }
            }
        }

        #table-property{
            tr{
                td{
                    .w700{
                        width: 350px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container-wrapper-history {
        padding: 45px 20px 60px 20px !important;
    }
}
