.preview-print {
    padding: 0 !important;
    .page-1, .page-2 {
        width: 270mm;
    }

    .chart-1, .chart-2 .parent-chart {
        border: 1px solid #707070 !important;
    }

    .chart-1 {
        min-height: 400px;

        .title {
            border-bottom: 1px solid #707070 !important;
            min-height: 60px;
        }
    }

    .chart-2 {
        .content {
            height: 450px;
        }

        .note {
            color: #2C3348 !important;
        }
    }
}

#cant-preview-print {
    display: none;
    height: 297mm;
}

#cant-preview-print .text-content {
    line-height: 297mm;
}

.table-preview td, .table-preview-2 td {
    border: 1px solid #060C1C !important;
    word-break: break-all;
}

.table-preview-2, .table-preview-2 tr:nth-child(23):not(.last-row) td {
    border: 0 !important;
}

.sub-title-review-simulation {
    border-left: 4px solid #2C3348;
}

.table-preview td, .table-preview-2 td {
    padding: 8px !important;
    background: transparent !important;
}

.table-preview .td-first-child, .table-preview-2 .td-first-child {
    font-weight: bold;
    width: 35%;
}

.table-preview .td-vertical,
.table-preview-2 .td-vertical, .table-preview-2 .number-radius {
    padding: 2px !important;
    width: 20px !important;
    vertical-align: middle !important;
    word-break: break-all;
}

.table-preview-2 tr:first-child td {
    padding: 2px !important;
}

.number-border-radius {
    color: #3B659D;
    border: 1px solid #3B659D;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.table-preview .col-unit {
    align-self: flex-end;
    text-align: right;
}
