.container-assessment {
    padding: 45px 60px 60px 60px;
}

@media (max-width: 767px) {
    .container-assessment {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .btn-responsive {
        margin-top: 10px;
        margin-left: 0px !important;
    }
}
.container-wrapper-assessment{
    .inline{
        display: inline;
    }

    .diagram-block{
        min-height: auto;
    }

    .form-control{
        &.disable-field{
            border: none;
            border-radius: 0;
        }
    }

    .row{

    }

    .disable-field {
        height: 32px;
        font-size: 14px;
    }

    .row{
        .number-li{
            margin: 0;
            height: auto;
            &+.col-12{
//                width: 300px;
                input{
                    width: 300px;
                }
            }
        }
    }

    @media (max-width: 1410px) and (min-width: 1200px) {
        .group-button-top{
            flex: auto;
            margin-top: 0;
            width: auto;
            max-width: initial !important;
        }
    }

    @media (max-width: 767px) {
        #block-status{
            margin: 0 0 30px;
        }

        .item-block-property {
            &.m15r {
                margin-right: 0 !important;
            }
            &.m15l {
                margin-left: 0 !important;
            }
        }
    }

    @media (max-width: 575px) {
        .container-assessment {
            padding: 0 !important;
        }
    }

    @media (max-width: 420px) {
        #form-condition-1{
            .centered{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }

        .fs28{
            font-size: 20px !important;
        }

        .item-block-property{
            &div[class^="col"]{
                max-width: 100% !important;
            }
        }

        .diagram-block{
            &.p30{
                padding: 20px !important;
            }
            .col-12 {
                .row {
                    &.m10b {
                        margin-bottom: 20px !important;
                    }
                    .col-6 {
                        flex: 0 0 100% !important;
                        margin-top: 10px !important;
                        max-width: 100% !important;
                        &:first-of-type{
                            margin: 0 !important;
                        }
                        &.p20r{
                            padding: 0 !important;
                        }
                        &.p20l {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }

        .col-12-sp{
            padding: 0 !important;
            max-width: 100% !important;
        }

        .row{
            display: block;
        }
    }
}

