.balance-body-title {
    height: 25px;
    color: #2c3348;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.28px;
}

.single-table-head td {
    vertical-align: middle !important;
}

.balance-body-content {
     padding: 25px 30px 30px 30px !important;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
     border-radius: 10px;
     background-color: #ffffff;
}

.single-chart-content {
    padding: 20px 20px 15px 15px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
}

.score-map-content {
    padding: 0 10px 10px 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
}

.balance-text {
    //height: 22px !important;
    color: #2c3348 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.min-w100 {
    min-width: 100px;
}

.min-w300 {
    min-width: 300px;
}

.min-w400 {
    min-width: 400px;
}

.h56 {
    height: 56px !important;
}

.balance-m8l {
    margin-left: 8px !important;
}

.balance-text-row-center {
    display: flex !important;
    align-items: center !important;
}

.h431 {
    height: 431px;
}

.balance-no-border-radius {
    border-radius: 0px !important;
    border: none !important;
}

.balance-header-title-button-1 {
    background-color: #6E7A94;
    padding: 10px;
    color: #ffffff;
}

.balance-header-title-button-2 {
    background-color: white;
    padding: 10px;
    color: #343953;
    border: solid 1px #C5C7D0;
}

.balance-number-input {
    background-color: #4282FF;
    color: #ffffff;
    justify-content: center;
    height: 32px;
    display: flex;
    align-items: center;
}

.balance-p8 {
    padding: 0 8px 0 8px !important;
}

.balance-w82 {
    width: 82% !important;
}

.balance-w92 {
    width: 92% !important;
}

.balance-w8 {
    width: 8% !important;
}

.balance-w5-7 {
    width: 5.7% !important;
}

.balance-table {
    width: 100%;
}

.table-main {
    max-height: 590px !important;
}

#single-analysis .table-responsive {
    overflow-y: hidden !important;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .table-head td {
        position: sticky;
        top: 0px;
    }

    .table-position{
        background-color: white;
        position: sticky;
        top: 0px;
    }

    .table-position:after{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #dee2e6;
    }

    .single-analysis-table-foot td{
        position: sticky;
        top: 70px;
    }
}

@-moz-document url-prefix() {
    .table-main {
        max-height: 625px !important;
    }

    .table-head td{
        position: sticky;
        top: 0px;
    }

    .table-position{
        background-color: white;
        position: sticky;
        top: 0px;
    }

    .table-position:after{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        width: 100%;
        height: 100%;
        border-left: 1px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
    }

    .single-analysis-table-foot td{
        position: sticky;
        top: 75px !important;
    }

    .single-analysis-table-foot td:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-left: 0.5px solid #DDDDDD;
    }
}

@media not all and (min-resolution:.001dpcm) {
    .table-main {
        max-height: 605px !important;
    }

    .table-head td {
        position: sticky;
        top: 0px;
    }

    .table-position{
        background-color: white;
        position: sticky;
        top: 0px;
    }

    .table-position:after{
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #dee2e6;
    }

    .single-analysis-table-foot td{
        position: sticky;
        top: 65px !important;
    }
}

.text-online {
    white-space: nowrap;
}

.note-table-head {
    vertical-align: middle !important;
    word-break: break-word;
    background-color: #2C3348;
    color: #FFFFFF;
}

.note-table-body {
    background-color: #BCC0C9;
    vertical-align: middle !important;
    word-break: break-word;
}

.balance-custom-btn-secondary {
    color: #FFFFFF !important;
    background-color: #7C85A0 !important;
    border-radius: 0px !important;
}

.balance-custom-btn-secondary:hover {
    color: #FFFFFF !important;
    background-color: #7C85A0 !important;
    border-radius: 0px !important;
}

.balance-custom-btn-default {
    color: #444960 !important;
    background-color: #FFFFFF !important;
    border: 1px solid #C5C7D0 !important;
    border-radius: 0px !important;
}

.balance-custom-btn-default:hover {
    color: #444960 !important;
    background-color: #FFFFFF !important;
    border: 1px solid #C5C7D0 !important;
    border-radius: 0px !important;
}

.analysis-tooltip {
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.essential-house-name {
    margin-left: 10px;
    margin-right: 20px;
}

.essential-content .sum-points {
    min-width: unset !important;
}

.essential-content #spiderweb-chart {
    position: relative;
    top: -30px;
}

.balance-input-text {
    height: 32px;
}

.custom-input {
    background-color: #eff2f4;
    padding: 5px 13px;
    min-height: 32px;
    width: 100%;
    color: #4e565c;
}

.align-items-flex-end {
    align-items: flex-end !important;
}

.dropdown-menu a.disabled {
    color: white;
    background-color: #0e7aff !important;
}

@media (max-width: 1199px) {
    .balance-m8l {
        margin-left: 0px !important;
        margin-top: 5px !important;
    }

    .balance-custom-input {
        padding-left: 0px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 1187px) {
    .balance-m5t {
        margin-top: 5px !important;
    }
}

@media (max-width: 991px) {
    .balance-custom-input {
        padding-left: 15px !important;
        padding-right: 0px !important;
        margin-top: 0px !important;
    }

    .balance-m10t {
        margin-top: 10px !important;
    }

    .balance-m30t {
        margin-top: 30px !important;
    }

    .page-name {
        display: block !important;
    }

    .page-house-name {
        display: block;
    }
}

@media (max-width: 767px) {
    .balance-full-view {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (max-width: 575px) {
    .single-chart-content {
        border-radius: 0 !important;
    }

    .score-map-content {
        border-radius: 0 !important;
    }

    .balance-body-content {
        border-radius: 0 !important;
    }
}
