.chart-borrowing-preview {
    width: 33.3%;
    float: left;
    margin: 0;
    border: solid 1px;
}

.content-borrowing-preview {
    width: 297mm;
    margin: auto;
}

.table-preview td, .table-head {
    padding: 5px !important;
    background: transparent !important;
}

.borrowing-preview {
    display: none;
}

#chart-all-preview {
    margin: auto;
    width: 100%;
}

thead {
    display: table-header-group;
}

@page {
    margin: 0 0 40px 0;
    size: 297mm 210mm;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important; /*Firefox*/
    }

    #header, .main-sidebar-left, #borrowing-content {
        display: none !important;
    }

    .content-borrowing-preview {
        display: block;
        page-break-inside: avoid;
        width: 297mm;
    }

    .table-wrapper{
        display: block;
        margin: 0 !important;
    }

    .chart-borrowing-preview {
        width: 33.3%;
        float: left;
        margin: 0;
        border: solid 1px #707070;
    }

    .chart-block-preview {
        page-break-after: always;
        width: 100%;
    }

    .page-break-after {
        page-break-after: always;
    }

    #chart-all-data {
        height: 690px;
        margin-top: 100px !important;
    }

    #wrapper-master {
        top: 0;
        padding-left: 0;
    }

    .borrowing-preview {
        display: block !important;
    }

    .highcharts-container {
        width: 100% !important;
    }

    .chart-all-data-preview {
        border: solid 1px #707070;
    }

    .borrowing-diagram-block {
        border-radius: 0;
    }
}
