@page {
    margin: 0 0 45px 0;
    size: A3 landscape;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
    }

    .table-wrapper {
        display: table;
    }

    #header, .main-sidebar-left, .container-wrapper-plan {
        display: none;
    }

    #wrapper-master {
        top: 0;
        padding: 0;
    }

    .background-print{
        padding: 0;
        height: 100%;
    }

    #pre-print-business-plan table tbody tr td {
        font-size: 11px;
    }

    .tb-pre-4 td:first-child {
        padding: 2px !important;
    }

    #page-1 {
        page-break-inside: avoid;
        page-break-after: always;
    }

    #page-2 {
        padding-top: 80px !important;
        height: 403mm !important;
        page-break-inside: avoid;
    }
}
