#preview-list-house {
    display: none;
}

#preview-list-house .vertical-text {
    vertical-align: middle !important;
    word-break: break-all !important;
    width: 20% !important;
    height: 100px !important;
}

#preview-list-house .content-image {
    width: 150px !important;
    height: 100px !important;
    margin: auto !important;
    text-align: center;
}

#preview-list-house td {
    max-width: 100%;
    margin: auto;
    vertical-align: middle !important;
    word-break: break-all;
}

#preview-list-house .content-image img {
    width: 80% !important;
    height: 100% !important;
}

.table-preview td, .table-preview-2 td {
    padding: 4px !important;
    background: transparent !important;
}

#preview-list-house .table-preview .td-vertical {
     padding: 2px !important;
     vertical-align: middle !important;
     word-break: break-all;
 }

.house-page-1, .page-2 {
    width: 210mm !important;
    margin: auto;
}

#preview-list-house .break-page {
    background-color: #f0f1f2;
    height: 50px;
}

#preview-list-house .table-preview {
 overflow: auto;
}

.w-5 {
    width: 5% !important;
}

.number-border-radius-black {
    font-size: 12px;
    border: solid 1px black;
    width: 20px;
    height: 20px;
    color: black;
    display: inline-block;
    text-align: center !important;
    border-radius: 50%;
    margin: auto;
}

.number-border-radius {
    margin: auto;
    text-align: center !important;
}

.background-print {
    padding-top: 0;
}
@page {
    size: A4;
    margin:  0 0 10mm 0;
    padding: 0;
}
@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
    }

    #wrapper-master {
        padding: 0;
        top: 0;
    }
    .content-preview {
        page-break-after: always;
    }

    .table-wrapper {
        display: table;
        width: 100% !important;
    }

    #preview-list-house {
        display: block;
    }

    #header, .content .list-house, .main-sidebar-left {
        display: none;
    }

    #wrapper-master {
        top: 0;
        padding: 0;
    }

    .background-print{
        padding: 0;
        height: 100%;
    }

    #preview-print-essential,
    #preview-print-essential-image,
    .table-pre-property {
        page-break-inside: avoid;
    }

    #btn-close-preview-print {
        display: none;
    }
}
