.table-preview .td-first-child,
.table-preview-2 .td-first-child {
    width: 32% !important;
}

.table-preview-2 td.label-long-text {
    padding-right: 0 !important;
}

.table-preview .td-vertical,
.table-preview-2 .td-vertical {
    padding: 2px !important;
}

#block-page {
    min-height: auto !important;
}

.last-row td:nth-child(1) {
    border-right: 0 !important;
}

.last-row td:nth-child(2) {
    border-left: 0 !important;
}

@page {
    margin: 0 0 13mm 0;
    size: A3 landscape;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important; /*Firefox*/
    }

    .table-wrapper {
        display: table;
    }

    #header, .main-sidebar-left, #main-info-assessment {
        display: none !important;
    }

    #wrapper-master {
        top: 0;
        padding: 0;
    }

    .background-print {
        padding: 0;
        min-height: 262mm;
        margin: auto;
        width: 1515px;
        transform-origin: 0 0;
    }

    #block-page, .print-bg {
        height: auto;
        transform: none;
        transform-origin: 50% 50%;
    }
}
