body {
    font-family: "Times New Roman";
}
#paginate .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#paginate .active .page-link  {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.col-2dot4 {
    width: 20% !important;
}

.background-invi {
    background-color: rgba(255, 255, 255, 0.8);
}

.input-error {
    border: 1px solid red;
}
.error-message {
    color: red;
    padding: 5px 0 0 5px;
}
.fail-login p {
    color: red;
    padding-bottom: 5px;
    padding-left: 5px;
}

.product-item  {
    height: 100%;
    border: 1px solid #c0c0c08c !important;
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #CD3D73 !important;
        background-color: white;
    }

    &:hover:before {
        transform: scale(2.15);
    }


    img {
        height: 90px;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        transition: 0.5s all ease-in-out;
    }

    &:hover img.zoom-hover {
        transform: scale(1.3);
    }

    .product-price {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #80808091;
        border-radius: 10px
    }

    .product-hero {
        width: 100%;
        position: absolute;
        bottom: 50px;
        .icon-hero {
            display: flex;
            width: 30px;
            height: 30px;
            img {
                object-fit: cover;
                border-radius: 50%;
                width: 100%;
            }
        }
    }
}

.product-item-horizontal  {
    border: 1px solid #c0c0c08c !important;
    margin-bottom: 10px !important;
    display: block;
    top: 0;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #CD3D73 !important;
        background-color: white;
    }

    &:hover:before {
        transform: scale(2.15);
    }

    img {
        height: 90px;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        transition: 0.5s all ease-in-out;
    }

    &:hover img.zoom-hover {
        transform: scale(1.3);
    }

    .product-price {
        width: 100%;
        //position: absolute;
        bottom: 0;
        background-color: #80808091;
        border-radius: 10px
    }

    .product-hero {
        width: 100%;
        //position: absolute;
        //bottom: 40px;
        .icon-hero {
            display: flex;
            width: 30px;
            height: 30px;
            img {
                object-fit: cover;
                border-radius: 50%;
                width: 100%;
            }
        }
    }
}

.text-gold {
    color: #FFFF00;
}

.btn-load-more {
    color: white;
    position: relative;
    margin: auto;
    transition: all 0.2s ease;
    padding: 8px 20px;
    background: #00000059;
    border-radius: 32px;
}
.btn-load-more:hover {
    color: white;
}
.btn-load-more:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 32px;
    background: rgb(0,0,0);
    width: 45px;
    height: 100%;
    transition: all 0.3s ease;
}
.btn-load-more:hover:before {
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(66,66,108,1) 48%, rgba(100,121,126,1) 100%);
}
.btn-load-more:active {
    transform: scale(0.96);
}
.btn-load-more span {
    position: relative;
}
//.btn:hover {
//    box-shadow: 0 0 10px 0 white inset, 0 0 10px 2px white;
//    border: 1px solid grey;
//}


